.container-details {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.container-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title-drink {
  color: #D9CCA7;
  text-align: center;
  font-weight: 500;
}

.td-ingredient td {
  width: 20%;
}

.td-ingredient td div {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.content-drink {
  width: 30%;
  
}

.content-ingredient table {
  width: 100%;
}

.image-ingredient {
  width: 50%;
}


