* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #a68051;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#root {
  height: 100vh;
}

.container {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.container h1 {
  color: #261711;
  font-weight: 100;
}

.button-search {
  font-size: 30px;
  color: #261711;
  padding: 0;
  border: none;
  background: none;
}

.button-search:hover {
  color: rgb(25,118,210);
}

.title-search {
  color: #261711;
  font-size: 30px;
  font-weight: 300;
  margin: 5px;
}

.content-letter {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #261711;
}

.title-failed {
  margin-top: 100px;
}
